<!DOCTYPE html>
<html>
<head>
    <title>Buscar en inventario</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <img src="{{ url_for('static', filename='OIL&GAS.png') }}" alt="Company Logo" class="logo">

    <h2>Buscar una parte</h2>
    
    {% if error %}
        <p styles="error"> {{ error }}</p>
    {% endif %}

    {% if success %}
        <p styles="success"> {{ success }}</p>
    {% endif %}

    {% if no_stock %}
        <p styles="warning"> {{ no_stock }}</p>
    {% endif %}

    <!--different messages that may be adressed on the search system, thats what this part is used for -->

    <form method="POST">
        <label>Numero de serie:</label>
        <input type="text" name="serial_number" required>
        <br>
        <!--ask for input of the serial number of the part that the user is looking for -->
        <button type="submit">Buscar</button>
    </form>
    <br>
    <a href="{{ url_for('logout') }}">Cerrar Sesión</a> 
    <!-- link that closes the user session (log out) and redirects them to the log in page -->
    <a href="{{ url_for('manage_inventory') }}" class="admin-button"> Manejar inventario</a>
    <!-- link that redirects the admin user (user 3) into the manage inventory system -->
</body>
</html>
